.page-finance-account{
    /*form样式重置*/
    .account-form{
        .form-module{
            width: 500px;
            margin: 0 auto;
        }

        .ant-form-item-label{
            text-align: left;
            label{
                font-size: 16px;
                color: #768893;
                line-height: 32px;
                &::after{
                    content: '';
                }
            }
        }
        .ant-input{
            width: 300px;
            height: 44px;
        }
    }

    .subtitle{
        font-size: 18px;
        color: #1D1D1D;
        line-height: 32px;
        margin-bottom: 32px;
    }
    .business-cret{
        width: 140px;
        height: 85px;
        background: url(../img/credit-code.png) no-repeat center;
    }
    .org-cert{
        width: 140px;
        height: 85px;
        background: url(../img/icon_0012.png) no-repeat center;
    }
    .protocol-item a {
        color: $blue;
    }
}
