@import '../../../../styles/com/vars.styl'
.page-financing-manage{
    background-color: #f9f9f9;
    line-height: 35px;
    .aside{
        width: 238px;
        height: 622px;
        border: 1px solid #E6E8EE;
        background-color: #fff;
        margin-top: 25px;
    }
    .indentityBox{
        margin-left: 263px;
    }
    .indentityBox .container{
        width: 100%;
        margin: 0;
    }
    .main-content{
        min-height: 622px;
    }
    .main-content-body{
        .ant-table{
            clear: none;
        }
    }
    .ant-table-thead th{
        background: #F9F9F9;
    }
    .ant-table tr:nth-child(even){
        background: #FDFDFD;
    }
    .ant-table{
        th:first-child,td:first-child{
            padding-left: 50px;
        }
    }
    .blue{
        color: #50C1FF;
    }
    .orange{
        color: #F06B36;
    }
}


