@import '../../../../styles/com/vars.styl'

.page-financing-qa{
    background-color: #f9f9f9;
    line-height: 35px;
    .aside{
        width: 238px;
        height: 622px;
        border: 1px solid #E6E8EE;
        background-color: #fff;
        margin-top: 25px;
        .aside-header{
            background-color: $blue;
            height: 94px;
            line-height: 94px;
            text-align: center;
            font-size: 20px;
            color: #FFFFFF;
            overflow: hidden;
            position: relative;
            z-index: 2;
        }
        .question-item{
            display: block;
            font-size: 16px;
            color: #003A00;
            padding-left: 46px;
            line-height: 32px;
            margin-bottom: 32px;
            position: relative;
            &.active, &:hover{
                color: $blue;
                .icon-dot{
                    background: $blue;
                }
            }
            &:first-child{
                margin-top: 32px;
            }
            &::before{
                content: '';
                position: absolute;
                height: 64px;
                border-left: 1px dotted #A4A8AB;
                top: -48px;
                margin-left: 3px;
            }
            .icon-dot{
                width: 7px;
                height: 7px;
                border-radius: 7px;
                background: #A4A8AB;
                display: inline-block;
                margin-right: 6px;
            }
        }
    }
    .indentityBox{
        margin-left: 263px;
    }
    .indentityBox .container{
        width: 100%;
        margin: 0;
    }
    .title{
        margin-bottom: 22px;
        .main-title{
            font-size: 16px;
            color: #1D1D1D;
        }
        .sub-title{
            font-size: 12px;
            color: #A4A8AB;
        }
    }
    .main-content-body{
        margin: 40px 120px;
    }
    .question{
        color: $blue;
        font-size: 16px;
        margin-bottom: 17px;
    }
    .answer{
        font-size: 16px;
        color: #1D1D1D;
    }
    .main-content{
        min-height: 622px;
    }


}
