@import '../../../../styles/com/vars.styl'

.page-sign{

    .sign-info{
        margin-top: 48px;
    }
    .sign-info-title{
        font-size: 20px;
        color: #1D1D1D;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
    }
    .sign-info-table{
        margin-top: 20px;
        table{
            width: 350px;
            margin: 0 auto;
            border: 1px solid #E6E8EE;
            border-radius: 6px;
            border-collapse: separate;
            td{
                border-right: 1px solid #E6E8EE;
                border-bottom: 1px solid #E6E8EE;
                line-height: 42px;
                padding-left: 1em;
                font-size: 14px;
                color: #A4A8AB;
                &:last-child{
                    border-right: none;
                }
            }
            tr:last-child td{
                border-bottom: none;
            }
        }
    }
    .protocol{
        font-size: 14px;
        color: #200000;
        margin-top: 34px;
        margin-bottom: 20px;
        line-height: 32px;
        a {
            color: #3CBAFF;
        }
    }
    .btn-box{
        .btn-confirm{
            display: block;
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            line-height: 44px;
            background: #50C1FF;
            width: 240px;
            margin: 30px auto 97px;
            border-radius: 44px;
        }
    }
    .footer-border-line{
        width: 1038px;
        margin: 0 auto;
        border-bottom: 1px solid #EBEBEB;
    }
    .sign-steps{
        text-align: center;
        margin: 15px auto;
        font-size: 14px;
        color: #A4A8AB;
        &>div{
            display: inline-block;
            margin: 0 10px;
        }
    }
    .sign-steps .icon-step-arrow{
        margin: 0 4px;
    }
}

