.finance-sign-success .page-sign{
    text-align: center;
    line-height: 36px;
    .notice-text{
        color: #A4A8AB;
    }
    .icon-finish{
        height: 76px;
        width: 76px;
        display: inline-block;
        margin-bottom: 6px;
        background: url(../img/icon_0013.png) no-repeat center;
        margin-top: 50px;
    }
    .finish-text{
        font-size: 20px;
        color: #50C1FF;
    }
    .account{
        line-height: 28px;
        color: #1D1D1D;
        width: 400px;
        margin: 0 auto;
        text-align: left;
        position: relative;
        left: 80px;
    }
    .sign-info{
        margin-top: 28px;
    }
    .sign-info-table{
        margin-top: 10px;
        table{
            width: 420px;
            text-align: left;
        }
    }
    .btn-box{
        .btn-my-loan{
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            line-height: 44px;
            background: #50C1FF;
            width: 240px;
            margin: 30px auto 97px;
            border-radius: 44px;
        }
    }
}
