@import "./styles/com/vars"

.page-financing-manage{
    background-color: #f9f9f9;
    line-height: 35px;
    .aside{
        width: 238px;
        height: 622px;
        border: 1px solid #E6E8EE;
        background-color: #fff;
        margin-top: 25px;
    }
    .indentityBox{
        margin-left: 263px;
    }
    .indentityBox .container{
        width: 100%;
        margin: 0;
    }
    .main-content{
        min-height: 622px;
    }


}
