@require "../com/util";

/*common-icon图标集*/
/*申贷流程未完成*/
common_icon($width,$height,$x,$y) {
	width:$width;
	height:$height;
	background:url('/static/images/common_icon.png') no-repeat;
	background-position:$x $y;
}
.icon-process01-loan{
	inline-block();
	common_icon(44px,44px,0,0);
	
}
.icon-process02-loan{
	inline-block();
	common_icon(44px,44px,-50px,0);
}
.icon-process03-loan{
	inline-block();
	common_icon(44px,44px,-100px,0);
}
.icon-process04-loan{
	inline-block();
	common_icon(44px,44px,-150px,0);
}
.icon-process05-loan{
	inline-block();
	common_icon(44px,44px,-200px,0);
}

/*申贷流程已完成*/
.icon-process01-loaned{
	inline-block();
	common_icon(44px,44px,0,-50px);
}
.icon-process02-loaned{
	inline-block();
	common_icon(44px,44px,-50px,-50px);
}
.icon-process03-loaned{
	inline-block();
	common_icon(44px,44px,-100px,-50px);
}
.icon-process04-loaned{
	inline-block();
	common_icon(44px,44px,-150px,-50px);
}
.icon-process05-loaned{
	inline-block();
	common_icon(44px,44px,-200px,-50px);
}

/*栏目图标*/
.icon-column-apply{
	inline-block();
	common_icon(20px,20px,0,-100px);
}
.icon-column-data{
	inline-block();
	common_icon(20px,21px,-30px,-100px);
}
.icon-column-cost{
	inline-block();
	common_icon(18px,20px,-60px,-100px);
}
.icon-column-complete{
	inline-block();
	common_icon(24px,24px,-90px,-100px);
}

/*常用图标*/
.icon-green-person{
	inline-block();
	common_icon(20px,19px,0,-130px);
}
.icon-green-horn{
	inline-block();
	common_icon(20px,20px,-30px,-130px);
}
.icon-green-upload{
	inline-block();
	common_icon(20px,20px,0px,-160px);
}
.icon-gray-house{
	inline-block();
	common_icon(48px,48px,-60px,-130px);
}
.icon-blue-house{
	inline-block();
	common_icon(48px,48px,-330px,-130px);
}
.icon-free{
	inline-block();
	common_icon(36px,23px,-120px,-130px);
}
.icon-blue-fingle{
	inline-block();
	common_icon(52px,60px,-180px,-130px);
}
.icon-nofind{
	inline-block();
	common_icon(68px,67px,-240px,-130px);
}

/*我的贷款图示*/
.icon-myloan-loan{
	inline-block();
	common_icon(20px,20px,0,-200px);
}
.icon-myloan-base{
	inline-block();
	common_icon(20px,20px,-30px,-200px);
}
.icon-myloan-tel{
	inline-block();
	common_icon(20px,20px,-60px,-200px);
}
.icon-myloan-email{
	inline-block();
	common_icon(20px,20px,-90px,-200px);
}
.icon-myloan-chagepw{
	inline-block();
	common_icon(20px,20px,-120px,-200px);
}
.icon-myloan-upload{
	inline-block();
	common_icon(20px,20px,-150px,-200px);
}
.icon-myloan-tobekd{
	inline-block();
	common_icon(20px,20px,-180px,-200px);
}
.icon-myloan-loan-on{
	inline-block();
	common_icon(20px,20px,0,-230px);
}
.icon-myloan-base-on{
	inline-block();
	common_icon(20px,20px,-30px,-230px);
}
.icon-myloan-tel-on{
	inline-block();
	common_icon(20px,20px,-60px,-230px);
}
.icon-myloan-email-on{
	inline-block();
	common_icon(20px,20px,-90px,-230px);
}
.icon-myloan-chagepw-on{
	inline-block();
	common_icon(20px,20px,-120px,-230px);
}
.icon-myloan-upload-on{
	inline-block();
	common_icon(20px,20px,-150px,-230px);
}
.icon-myloan-tobekd-on{
	inline-block();
	common_icon(20px,20px,-150px,-230px);
}


